__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.env
.venv
venv/
.pytest_cache
.coverage
htmlcov/
*.log
.git
.gitignore
README.md
TZ_CROCO_SUSHI.md
frontend/
versions/
# alembic/ - залишаємо для Docker контейнера
croco_sushi.egg-info/
*.md
!README.md

