{
    servers {
        protocols h1 h2
    }
}

crocosushi.com {
    encode gzip zstd
    reverse_proxy frontend:3000
}

www.crocosushi.com {
    redir https://crocosushi.com{uri}
}

api.crocosushi.com {
    encode gzip zstd
    reverse_proxy backend:8000
}
monitor.crocosushi.com {
    encode gzip zstd
    reverse_proxy grafana:3000
}